@import "@/index.css";

.slide-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden; /* Prevent overflowing slides */
}

.slide-inner {
  display: grid;
  grid-template-columns: repeat(4, 100%);
  width: 100%;
  height: 100%;
  transition: transform 0.7s ease-in-out;
}

.slide {
  position: relative;
  width: 100%;
  height: 97%;
  top: 3%;
  padding-left: 3rem;
  overflow-y: auto;
}

.slide-title {
  position: absolute;
  bottom: 58%;
  z-index: 1;
  font-size: 2.4rem;
}

.slide-title-highlight {
  color: rgb(252, 88, 88);
}

.footer {
  width: 20%;
  padding-top: 2.3rem;

  font-size: 12px;
  white-space: pre-line;
}

.white-box {
  position: absolute;
  right: 10%; /* halfway from right */
  bottom: 12%; /* distance from bottom */
  z-index: 0;

  background-color: white;
  width: 60%;
  height: 80%;
  padding: 1rem;

  display: flex;
  align-items: center; /* Vertically center */
  justify-content: flex-end; /* Push content to the right */
}

.white-box:hover {
  transition: none !important; /* stop slide transition */
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2); /* subtle shadow glow */
}

.slide-body {
  display: flex;
  flex-direction: column-reverse;
  height: 230px;
  padding: 1.5rem;
  transform: translateY(5.1rem);
  font-size: var(--font-size, 16px);
  font-family: "Inter";
  font-weight: 300;
  white-space: pre-line;
}

.slide-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  margin-right: 3rem; /* Push image to the right */
  height: 330px;
  width: 330px;
}

.slide-sidenote {
  position: absolute;
  bottom: 14%;
  right: 7%;
  font-family: "Inter";
  font-size: 9px;
  color: gray;
}

.buttons {
  position: absolute;
  padding-left: 7%;
  bottom: 10%;
}

.button {
  background-color: white;
  size: 5;
  margin: 0.3rem;
}
