.graphics-container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem 0;
  font-family: Arial, sans-serif;
}
.graphics-title-container {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("/anna-portfolio/images/graphicsBackground.jpg");
  background-size: cover; /* cover entire header */
  background-position: center; /* center the image */

  padding-top: 2rem;
}

.graphics-header {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  color: white;
}

.graphics-subheader {
  display: flex;
  justify-content: center;
  gap: 1rem;
  top: 0;
  z-index: 10;
  padding: 1rem;
  margin-bottom: 3rem;
  padding-bottom: 2rem;
}

.graphics-subheader button {
  padding: 0.5rem 1rem;
  font-size: 0.8rem;
  font-family: "Arial";
  font-weight: 600;
  color: white;
  cursor: pointer;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 0.1); /* very transparent */
  backdrop-filter: blur(8px); /* blur background behind */
  -webkit-backdrop-filter: blur(8px); /* for Safari */
  border: 1px solid rgba(255, 255, 255, 0.3); /* subtle border for glass outline */

  transition:
    background-color 0.3s,
    color 0.3s,
    transform 0.2s;
}

.graphics-subheader button:hover {
  background-color: #333;
  color: #fff;
}

.graphic-section {
  scroll-margin-top: 80px;
  border-top: #333;
}

.graphic-section h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  text-align: center;
}

.divider {
  border: none;
  border-top: 2px solid #333;
  margin: 4rem 0 3rem 0;
  opacity: 0.1;
}
